.navbar-size {
    width: 95%;
    margin: 0 auto;
}
.user-image-size {
    height: 56px;
    margin: 4px 0;
}

body {
    min-height: 100vh;
    background-color: #F28487;
    color: white;
    min-height: -webkit-fill-available;
  }
  html {
    height: -webkit-fill-available;
  }